<!-- about section starts  -->

<section class="about" id="about">

    <div class="image">
        <img src="./assets/images/about.png" alt="">
    </div>

    <div class="content">
        <h1 class="heading">about product</h1>
        <h3>change your life with our high quality products</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus laborum quia, ducimus vel consequatur consequuntur perferendis necessitatibus obcaecati quos quis.</p>
        <ul>
            <li> <i class="fas fa-check-double"></i> wireless facility </li>
            <li> <i class="fas fa-check-double"></i> high quality sounds </li>
            <li> <i class="fas fa-check-double"></i> voice call facility </li>
            <li> <i class="fas fa-check-double"></i> nice and soft design </li>
        </ul>
    </div>
</section>
<!-- about section ends  -->
